<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736845680686-emr62e9qv7ilu01m116n7i8b35k6e77l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736845680686-emr62e9qv7ilu01m116n7i8b35k6e77l</string>
	<key>API_KEY</key>
	<string>AIzaSyBr5ms-BGsLxcz7LASeLhxNk4cP71PS1DE</string>
	<key>GCM_SENDER_ID</key>
	<string>736845680686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LikeLion.AppleMarket</string>
	<key>PROJECT_ID</key>
	<string>applemarket-d72b4</string>
	<key>STORAGE_BUCKET</key>
	<string>applemarket-d72b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736845680686:ios:b05245999ee42502734fbf</string>
</dict>
</plist>