<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46542169088-dau438qe7d469bgd0efd9gr340gd4nh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46542169088-dau438qe7d469bgd0efd9gr340gd4nh0</string>
	<key>API_KEY</key>
	<string>AIzaSyA1MPgjgfHJtgtlESsKKMU3bV5IC9tzrT0</string>
	<key>GCM_SENDER_ID</key>
	<string>46542169088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LikeLion.AppleMarket</string>
	<key>PROJECT_ID</key>
	<string>applemarket-e580b</string>
	<key>STORAGE_BUCKET</key>
	<string>applemarket-e580b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46542169088:ios:19455c4e41a002099e24e5</string>
</dict>
</plist>